<div class="container">
    <p>
        <span>
            {{ translate('Powered by %sZend Expressive%s and %sBootstrap 3%s') | format(
                '<a target="_blank" href="https://zendframework.github.io/zend-expressive/">',
                '</a>',
                '<a target="_blank" href="http://getbootstrap.com/">',
                '</a>'
            ) | raw }}
        </span>
        <span class="pull-right hidden-sm hidden-xs">
            <a href="http://www.wonnova.com/" target="_blank">Wonnova</a>
        </span>
    </p>
</div>
