<div class="container">
    <p>
        <span>
            {{ translate('Powered by %sZend Expressive%s and %sBootstrap 3%s') | format(
                '<a target="_blank" href="https://zendframework.github.io/zend-expressive/">',
                '</a>',
                '<a target="_blank" href="https://getbootstrap.com/">',
                '</a>'
            ) | raw }}
        </span>
        <span class="pull-right hidden-sm hidden-xs">
            Full-stack developer (PHP/JS)
        </span>
    </p>
</div>
