<div>
    <ul class="list-unstyled social-list">
        <a target="_blank" href="https://www.linkedin.com/pub/alejandro-celaya-alastru%C3%A9/63/552/257">
            <li class="social-element" id="linkedin">
                <i class="fa fa-linkedin"></i>
            </li>
        </a>
        <a target="_blank" href="http://www.zend.com/en/yellow-pages/ZEND021590">
            <li class="social-element" id="php">
                <i class="fa fa-code"></i>
            </li>
        </a>
        <a target="_blank" href="https://github.com/acelaya/">
            <li class="social-element" id="github">
                <i class="fa fa-github-alt"></i>
            </li>
        </a>
        <a target="_blank" href="https://plus.google.com/+AlejandroCelaya?rel=author">
            <li class="social-element" id="google">
                <i class="fa fa-google-plus"></i>
            </li>
        </a>
        <a target="_blank" href="https://twitter.com/acelayaa">
            <li class="social-element" id="twitter">
                <i class="fa fa-twitter"></i>
            </li>
        </a>
    </ul>
</div>
