// Carousel
#carousel-skills {
  max-width: 900px;
  margin: 0 auto;
}

// About me
#about-me {
  margin-top: 15px;
  legend {
    padding-right: 15px;
  }
  p {
    text-align: justify;
  }
}
