
.error-not-found {
  padding: 30px;
  h3 {
    &.error-type {
      margin: 0;
      color: $error-color;
    }
    &:not(error-type) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }  
}
