<?php
use Zend\Expressive\Container;
use Zend\Expressive\Middleware;

return [

    'service_manager' => [
        'factories' => [
            'Zend\Expressive\Whoops' => Container\WhoopsFactory::class,
            'Zend\Expressive\WhoopsPageHandler' => Container\WhoopsPageHandlerFactory::class,
            Middleware\ErrorResponseGenerator::class => Container\WhoopsErrorResponseGeneratorFactory::class,
        ]
    ]

];
